
<%= nested_form_for @quotation do |f| %>

  <%= f.fields_for :customer,@quotation.customer do |customer_fields| %>
    <%= customer_fields.label :full_name,"Client's Name:" %>
    <!-- <%= customer_fields.text_field :full_name,data: {clsource: customers_path} %><br/> -->
    <%= customer_fields.text_field :full_name%><br/>
    <%= customer_fields.label :contact,"Client's Contact Number:" %>
    <%= customer_fields.text_field :contact%><br/>
    <%= customer_fields.label :address_line1,"Client's Address Line 1:" %>
    <%= customer_fields.text_field :address_line1 %><br/>
    <%= customer_fields.label :address_line2,"Client's Address Line 2:" %>
    <%= customer_fields.text_field :address_line2 %><br/>
    <%= customer_fields.label :address_line3,"Client's Address Line 3:" %>
    <%= customer_fields.text_field :address_line3 %><br/>
    <%= customer_fields.label :city,"Client's City:" %>
    <%= customer_fields.text_field :city %><br/>
    <%= customer_fields.label :postal,"Client's Postal:" %>
    <%= customer_fields.text_field :postal %><br/>
    <%= customer_fields.label :state,"Client's State:" %>
    <%= customer_fields.text_field :state %><br/>
    <%= customer_fields.label :country,"Client's Country:" %>
    <!-- <%= customer_fields.text_field :country %> -->
    <%= customer_fields.country_select("country") %><br/>
  <% end %>

  <%= f.label :design_file_name,"Design File Name:" %>
  <%= f.text_field :design_file_name %><br/>

  <%= f.label :budget_cents,"Client's Budget:" %>
  <%= f.text_field :budget_cents %><br/>

  <%= f.label :deadline,"Client's Deadline:" %>
  <%= f.datetime_select :deadline %><br/>

  <%= f.label :rush_fee_cents,"Rush Order Fee:" %>
  <%= f.text_field :rush_fee_cents %><br/>

  <%= f.label :delivered, "Delivery:" %>
  <%= f.select(:delivered,[["No",0],["Yes",1]]) %><br/>

  <%= f.label :delivery_fee_cents, "Delivery Fee:" %>
  <%= f.text_field :delivery_fee_cents %><br/>

  <%= f.label :quantity, "Quantity:" %>
  <%= f.text_field :quantity %><br/>

  <%= f.label :brand_id,"Brand:" %>
    <%= f.collection_select(:brand_id,Brand.order(:name),:id,:name,{prompt:"Select A Brand"}) %> <br/>


  <%=f.label :fit_id,"Fit:"%>
    <%= f.collection_select(:fit_id,Fit.order(:name),:id,:name,{:prompt => "Select A Fit"}) %><br/>


  <%=f.label :shirt_type_id,"Shirt Type:" %>
    <%= f.collection_select(:shirt_type_id,ShirtType.order(:name),:id,:name,{:prompt => "Select A Type"}) %><br/>

  Front Print <br/>
  <%= f.label :front_print_method_id,"Print Method:" %>
  <%= f.collection_select(:front_print_method_id,PrintMethod.order(:name),:id,:name,{:prompt => "Select A Print Method"}) %><br/>
  <%= f.label :front_block_size_id,"Block Size:" %>
  <%= f.collection_select(:front_block_size_id,BlockSize.order(:name),:id,:name,{:prompt => "Select A Block Size"}) %><br/>
  <%= f.label :front_block_no,"No. of Blocks:" %>
  <%= f.text_field :front_block_no %><br/>
  Back Print <br/>
  <%= f.label :back_print_method_id,"Print Method:" %>
  <%= f.collection_select(:back_print_method_id,PrintMethod.order(:name),:id,:name,{:prompt => "Select A Print Method"}) %><br/>
  <%= f.label :back_block_size_id,"Block Size:" %>
  <%= f.collection_select(:back_block_size_id,BlockSize.order(:name),:id,:name,{:prompt => "Select A Block Size"}) %><br/>
  <%= f.label :back_block_no,"No. of Blocks:" %>
  <%= f.text_field :back_block_no %><br/>
  Left Sleeve <br/>
  <%= f.label :left_print_method_id,"Print Method:" %>
  <%= f.collection_select(:left_print_method_id,PrintMethod.order(:name),:id,:name,{:prompt => "Select A Print Method"}) %><br/>
  <%= f.label :left_block_no,"No. of Blocks:" %>
  <%= f.text_field :left_block_no %><br/>
  Right Sleeve <br/>
  <%= f.label :right_print_method_id,"Print Method:" %>
  <%= f.collection_select(:right_print_method_id,PrintMethod.order(:name),:id,:name,{:prompt => "Select A Print Method"}) %><br/>
  <%= f.label :right_block_no,"No. of Blocks:" %>
  <%= f.text_field :right_block_no %><br/>

  <%= f.label :special_print,"Special Print:" %>
  <%= f.text_field :special_print %><br/>

  <%= f.label :price_cents,"Price:" %>
  <%= f.text_field :price_cents %><br/>

  <%= f.label :cost_cents, "Cost:" %>
  <%= f.text_field :cost_cents %><br/>

  <%= f.label :min_rpp_cents, "Min RPP:" %>
  <%= f.text_field :min_rpp_cents %><br/>

  <%= f.label :max_rpp_cents, "Max RPP:" %>
  <%= f.text_field :max_rpp_cents %><br/>

  <%= f.label :actual_price_cents, "Final Price:" %>
  <%= f.text_field :actual_price_cents %><br/>

  <%= f.label :total_cost_cents, "Total Cost:" %>
  <%= f.text_field :total_cost_cents %><br/>

    <%= f.fields_for :additional_infos do |additional_info_form| %>
      <%= additional_info_form.label :description,"Description:" %>
      <%= additional_info_form.text_area :description %><br/>
      <%= additional_info_form.label :price_cents,"Price:" %>
      <%= additional_info_form.text_field :price_cents %><br/>
      <%= additional_info_form.link_to_remove "Remove this task" %>
    <% end %>
    <p><%= f.link_to_add "Add Additional Info", :additional_infos %></p>
  <!-- <button > Add Additional Info </button> -->
  <!-- <button type="button" id="AdditionalInfo" > Add Additional Info </button> -->
  <%= button_to "Submit" %>
<% end %>

<div id="test" > </div>
